.logo1,
.napis {
  position: relative;
  flex-shrink: 0;
}
.logo1 {
  border-radius: var(--br-8xs);
  background-color: var(--color-sienna);
  width: 32px;
  height: 32px;
}
.napis {
  font-weight: 500;
  display: inline-block;
  width: 364px;
}
.cze {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.cze,
.logo {
  flex: 1;
  flex-direction: row;
}
.div,
.div1,
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.div1 {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 25px;
  height: 25px;
}
.aktywne {
  position: relative;
  border-radius: var(--br-981xl);
  background-color: var(--color-darkslateblue);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--font-size-2xl);
  color: var(--color-whitesmoke-200);
}
.przecznikMotywjasny {
  border-radius: var(--br-3xs);
  background: linear-gradient(180deg, #f2f2f6, rgba(242, 242, 246, 0));
  box-shadow: 0 0 10px rgba(189, 188, 207, 0.5);
  backdrop-filter: blur(12px);
  border: 1px solid var(--color-gray);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg);
}
.div2 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-15xl);
  color: var(--color-darkslateblue);
  text-align: left;
}
.menuswitch {
  width: 168px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-11xl);
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-font-awesome-5-free);
}
.mojecvWszystkie,
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-181xl);
}
.mojecvWszystkie {
  position: relative;
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  overflow-y: auto;
  flex-direction: column;
  padding: var(--padding-25xl) var(--padding-39xl);
  box-sizing: border-box;
  gap: var(--gap-34xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-lightsteelblue);
  font-family: var(--font-raleway);
}
@media screen and (max-width: 960px) {
  .menuswitch {
    flex: 1;
  }
}
@media screen and (max-width: 420px) {
  .logo {
    display: none;
    flex: unset;
    align-self: stretch;
  }
  .menuswitch,
  .nav {
    box-sizing: border-box;
  }
  .menuswitch {
    flex: 1;
    flex-direction: row;
    padding-left: 0;
  }
  .nav {
    flex-direction: column;
    gap: var(--gap-81xl);
    padding-left: var(--padding-181xl);
  }
}
